
Button {
  background: rgb(164, 158, 255);
  width: 100;
  border-width: 5;
  border-color: #160075;
  border-radius: 10;
}

Button:hover {
  background: rgb(169, 255, 158);
}

Button Text {
  color: rgb(255, 158, 158);
}