
Button {
  background: rgb(35, 23, 0);
  border-width: 5;
  border-color: #1e0f00;
  border-radius: 10;
  color: rgb(210, 210, 210);
  box-shadow: none;
}

Button:hover {
  background: rgb(158, 223, 255);
  box-shadow: 5px 2px 4px rgba(47, 0, 75, 0.119);
}
