
Button {
  background: #444;
  border-width: 5;
  border-color: #1e0f00;
  border-radius: 10;
  color: #CCC;
  box-shadow: none;
}

Button:hover {
  background: #727272;
  box-shadow: 5px 2px 4px rgba(47, 0, 75, 0.119);
}

#scroll Button {
  background: #111111;
  border-width: 5;
  border-color: rgba(95, 84, 0, 0.45);
  border-radius: 10;
  color: #CCC;
  box-shadow: none;
}

#main {
  background: #141414;
}