
Slider {
  --fig-slider-button-size: 40px;
  --fig-slider-filling-size: 40px;
  border-radius: 10px;
}

Slider Rectangle {
  border-radius: 10px;
}

Slider > #bar > #button-bg > #button {
  width: 20px;
  left: 10px;
  -fig-cornerRadius: 10px;
}

#widgets-vert {
  left: 10%;
  width: 80%;
  border-width: 1px;
  border-color: green;
}