
:root {
  --fig-slider-button-size: 40px;
  --fig-slider-filling-size: 40px;
}

Slider {
  border-radius: 10px;
}

Slider Rectangle {
  border-radius: 10px;
}

Slider > #bg {
  left: 10px;
  padding-right: 10px;
  width: calc(100% - 20px);
}

Slider > #bg > #track > #thumb-bg > #thumb {
  width: 20px;
  left: 10px;
  -fig-cornerRadius: 7px;
  background-color: rgba(3, 0, 88, 0.781);
}

#widgets-vert {
  left: 10%;
  width: 80%;
  border-width: 1px;
  border-color: green;
}

Toggle {
  border-width: 0;
  border-color: black;
  border-radius: 7px;
  width: 40px;
}

Toggle #thumb {
  border-width: 0;
  background-color: grey;
  border-radius: 5px;
}
