
:root {
  --fig-slider-button-width: 20px;
  --fig-slider-filling-size: 40px;
}

Slider {
  border-radius: 10px;
}

Dropdown {
  height: 40px;
}

TextButton {
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 4px 0px rgba(255, 255, 255, 0.50) inset;
}

Dropdown #combobox {
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

ComboboxList ComboboxItem > TextButton {
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3); */
}

Dropdown > #menu {
  height: 120px;
}
Dropdown ComboboxList {
  border-width: 5px;
  border-color: black;
}

Slider Rectangle {
  border-radius: 10px;
}

Slider {
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.05) inset;
}

Slider #filling {
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

Slider #thumb {
  -fig-cornerRadius: 7px;
  background-color: grey;
}

#widgets-vert {
  left: 12%;
  width: 76%;
  border-width: 1px;
  border-color: green;
}

Toggle {
  border-width: 0;
  border-color: black;
  border-radius: 7px;
  width: 40px;
}

Toggle #thumb {
  border-width: 0;
  background-color: grey;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  left: 14%;
  top: 10%;
}

TextToggle #thumb {
  border-width: 0;
  background-color: grey;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  left: 13%;
  top: 10%;
}

