
Button {
  background: rgb(246, 246, 239);
  border-width: 5;
  border-color: #000000;
  border-radius: 10;
  /* color: #000000; */
  box-shadow: none;
}

Button:hover {
  background: rgba(247, 211, 160, 0.728);
  box-shadow: 5px 2px 4px rgba(47, 0, 75, 0.119);
}

#items {
  background: #5b5b5b;
}

#scrollbar-vertical {
  background-color: rgb(57, 51, 1);
}

#story {
  background: black;
  border-width: 3;
  border-color: rgba(57, 50, 1, 0.45);
  border-radius: 6;
  color: #ddd;
  background: rgb(50, 50, 47);
  /* height: 40; */
}

#story:hover {
  background: rgba(255, 170, 50, 0.57);
  box-shadow: 5px 2px 4px rgba(47, 0, 75, 0.119);
}

/* .subtext, .subtext * {
  color: #888;
} */

#scroll {
  background-color: black;
}

#main {
  background-color: black;
  color: #ddd;
}